* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-image: url('../img/bg.jpg'); /* 替换为背景图片的路径 */
    background-size: cover; /* 让图片覆盖整个背景 */
    background-position: center; /* 居中显示背景 */
    background-repeat: no-repeat; /* 不重复背景 */
    background-color: #f5f5dc; /* 图片加载不出来时的背景颜色 */
}

.settings-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(243, 229, 215, 0.9); /* 半透明背景色，突显文字内容 */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #805a3b;
    margin-bottom: 20px;
}

.setting-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #d4c4b1;
}

.setting-option a {
    color: #805a3b;
    text-decoration: none;
}

.btn-action {
    background-color: #d4b05b;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
